services:
  api:
    build: .
    container_name: todo-api
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    env_file:
      - .env.docker
    depends_on:
      - mongo
    command: node server/server.js

  mongo:
    image: mongo:7
    container_name: todo-mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
